.input {
  border-radius: var(--button-border-radius);
  background-color: var(--color-neutral-white);
  box-shadow: var(--shadow-m);
}

.input__input {
  background-color: transparent;
  border-radius: inherit;
  border: none;
  padding: var(--space-s);
  width: 100%;
}

select.input__input {
  appearance: none;
}

.input__right-icon {
  position: absolute;
  transform: translate(calc(-100% - var(--space-s)), var(--space-s));
}
