.transaction-menu-item {
  padding: 16px;

  transition-property: width, height, transform, opacity;
  transition-duration: .4s;
  will-change: width, height, transform, opacity;
}

.transaction-menu-item--is-expanded {
  position: fixed;
  bottom: var(--space-xxs);
  right: var(--space-xxs);
  left: var(--space-xxs);
  z-index: 2;
}

.transaction-menu-item__title {
  width: 100%;
}
