.add-category-card {
  --border-width: 2px;

  width: 200px;
  border: dashed 2px hsla(0deg, 0%, 100%, 40%);
  background-color: transparent;
  margin-top: 60px;
  padding: calc(var(--space-m) - var(--border-width));
}

.add-category-card__progress {
  border: dashed var(--border-width) hsla(0deg, 0%, 100%, 40%);
  background-color: transparent;
  transform: translateY(-48px);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--space-s) - (2 * var(--border-width)));
  position: relative;
}

.add-category-card__progress::after,
.add-category-card__progress::before {
  position: absolute;
  border: solid var(--border-width) hsl(0deg, 0%, 90%);
  border-radius: 2px;
  display: block;
  content: '';
}

.add-category-card__progress::before {
  height: 30px;
}

.add-category-card__progress::after {
  width: 30px;
}
