:root {
  --top-navigation-layout--padding: var(--space-l);
  --top-navigation-layout--gap: var(--space-s);
}

.top-navigation-layout {
  display: grid;
  grid-gap: var(--top-navigation-layout--gap);
  grid-template:
    'toolbar' auto
    'content' 1fr
    / 1fr
  ;
  min-height: 100%;
  padding: var(--top-navigation-layout--padding);
}

.top-navigation-layout__toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
}

.top-navigation-layout__toolbar > *:not(:first-child) {
  margin-left: var(--space-s);
}

.top-navigation-layout__back {
  margin-right: auto;
}

.top-navigation-layout__content {
  grid-area: content;
}
