.action-button {
  z-index: 0;
}

.action-button__button {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 24px;
}

.action-button__overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
}

.action-button__icon {
  transition: transform .4s;
}

.action-button__icon--is-open {
  transform: rotate(135deg);
}

.action-button__menu {
  position: absolute;
  bottom: 100%;
  right: 0;

  padding-bottom: 16px;
  min-width: 12rem;

  pointer-events: none;

  visibility: hidden;
  animation: appear-after 0s .6s forwards;
}

@keyframes appear-after {
  from { visibility: hidden; }
  to { visibility: visible; }
}

.action-button__menu--is-open {
  pointer-events: auto;
}

.action-button__menu > * {
  opacity: 0;
  animation: fade-down .2s backwards;
  margin-top: var(--space-s);
}

.action-button__menu--is-open > * {
  animation: fade-up .2s forwards;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(70%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(70%);
  }
}
