.action-button {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 24px;
}

.action-button__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.action-button__icon {
  transition: transform .4s;
}

.action-button__icon--is-open {
  transform: rotate(135deg);
}

.action-button__menu {
  position: absolute;
  top: 0;
  z-index: -1;

  transform: translateY(-100%);

  pointer-events: none;
}

.action-button__menu--is-open {
  pointer-events: auto;
}

.action-button__menu > * {
  opacity: 0;
  transform: translateY(15vmin);
  transition-property: all;
  transition-duration: .2s;
}

.action-button__menu--is-open > * {
  opacity: 1;
  transform: translateY(0);
}
