.button {
  display: flex;
  place-content: center;
  padding: var(--space-s);
  border-radius: 16px;
  background-color: var(--color-neutral-white);
  box-shadow: 0 10px 16px -2px hsla(var(--color-neutral-gray-hsl), .5);
  min-width: 48px; /*makes it be a square if text is not big enough*/

  text-align: center;

  transition:
    background-color .2s ease-out,
    color .2s ease-out,
    box-shadow .05s ease-out;
}

.button:active {
  box-shadow: 0 4px 8px -2px hsla(var(--color-neutral-gray-hsl), .5) inset;
}

.button--round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button--ghost {
  background-color: transparent;
  box-shadow: none;
}

.button--primary {
  background-color: var(--secondary-color);
  box-shadow: 0 10px 16px -2px hsla(var(--secondary-color-hsl), 70%);
  color: white;
}

.button--secondary {
  background-color: var(--accent-color);
  box-shadow: 0 10px 16px -2px hsla(var(--accent-color-hsl), 70%);
  color: white;
}

.button--block {
  width: 100%;
}
