.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-s);
  border-radius: var(--button-border-radius);
  background-color: var(--color-neutral-white);
  box-shadow: 0 5px 10px 4px hsla(var(--color-neutral-gray-hsl), .3);
  min-width: 48px; /*makes it be a square if text is not big enough*/

  text-align: center;

  transition:
    background-color .1s ease-out,
    color .1s ease-out;
}

.button:active {
  box-shadow: 0 4px 8px -2px hsla(var(--color-neutral-gray-hsl), .5) inset;
}

.button--round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button--ghost {
  background-color: transparent;
  box-shadow: none;
}

.button--primary {
  background-color: var(--color-primary-pure);
  box-shadow: 0 10px 16px -2px hsla(var(--color-primary-pure-hsl), 70%);
  color: white;
}

.button--secondary {
  background-color: var(--color-secondary-pure);
  box-shadow: 0 10px 16px -2px hsla(var(--color-secondary-pure-hsl), 70%);
  color: white;
}

.button--block {
  width: 100%;
  contain: paint;
}
