.button {
  display: flex;
  place-content: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  text-align: center;
}

.button--primary {
  background-color: var(--secondary-color);
  box-shadow: 0 10px 16px -2px var(--secondary-color);
  color: white;
}
