.category-selector {
  --top-navigation-layout--padding: var(--space-s) var(--space-xs);
}

.category-selector__title {
  display: block;
  width: 100%;
}

.category-selector__item {
  display: grid;
  grid-template:
    'percent name' auto
    /auto    1fr;
  align-items: center;
  grid-gap: var(--space-s);
  margin-bottom: var(--space-m);
}
