.login-page {
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

#firebaseui-auth-container {
  flex-grow: 1;
}

#firebaseui-auth-container>.firebaseui-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#firebaseui-auth-container .firebaseui-idp-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  padding: var(--space-s);
  margin-bottom: var(--space-m);
  width: 100%;

  background-color: var(--color-neutral-white);
  box-shadow: 0 10px 16px -2px hsla(var(--color-neutral-gray-hsl), .5);

  text-align: center;
}

#firebaseui-auth-container .firebaseui-idp-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

#firebaseui-auth-container .firebaseui-idp-text-short {
  display: none;
}
