.background {
  contain: strict;
  background-image: linear-gradient(
    165deg,
    var(--color-secondary-clear) 0%,
    var(--color-primary-clear) 100%);
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
