.title {
  color: var(--color-font-light);
  font-weight: bold;
  letter-spacing: .08em;
}

.title--dark {
  color: var(--color-font-dark);
}

h1.title {
  font-size: 2rem;
}

h1.title::after {
  margin-top: .5em;
  margin-bottom: 2em;
  display: block;

  color: transparent;
  content: 'wwww';
  font-size: 0.7em;
  letter-spacing: initial;
  text-decoration: wavy underline hsla(var(--secondary-color-hsl), .65);
}

h2.title {
  font-size: 1.35rem;
}

strong.title {
  font-size: 1.15rem;
  font-weight: 600;
}

.title.title--size-800 { font-size: var(--font-size-800); font-weight: 600; }
.title.title--size-700 { font-size: var(--font-size-700); font-weight: 600; }
.title.title--size-600 { font-size: var(--font-size-600); font-weight: 600; }
.title.title--size-500 { font-size: var(--font-size-500); font-weight: 600; }
.title.title--size-400 { font-size: var(--font-size-400); font-weight: 600; }
.title.title--size-300 { font-size: var(--font-size-300); font-weight: 600; }
.title.title--size-200 { font-size: var(--font-size-200); font-weight: 600; }
.title.title--size-100 { font-size: var(--font-size-100); font-weight: 400; }
