.money-calculator {
  padding: var(--space-l) var(--space-m);
  display: grid;
  grid-template:
    'display display display' auto
    '.       .       .'       auto
    '.       .       .'       auto
    '.       .       .'       auto
    'back    .    enter'   auto
    /1fr     1fr     1fr;
  place-items: center;
}

.money-calculator > * {
  animation-name: fade-up;
  animation-duration: .3s;
  animation-fill-mode: backwards;
}

.money-calculator > *:not(.money-calculator__display) {
  padding: calc(var(--space-m) / 2);
}

.money-calculator > *:nth-child(1) {
  animation-delay: .2s;
}

.money-calculator > *:nth-child(2),
.money-calculator > *:nth-child(3),
.money-calculator > *:nth-child(4) {
  animation-delay: .3s;
}

.money-calculator > *:nth-child(5),
.money-calculator > *:nth-child(6),
.money-calculator > *:nth-child(7) {
  animation-delay: .4s;
}

.money-calculator > *:nth-child(8),
.money-calculator > *:nth-child(9),
.money-calculator > *:nth-child(10) {
  animation-delay: .5s;
}

.money-calculator > *:nth-child(11),
.money-calculator > *:nth-child(12),
.money-calculator > *:nth-child(13) {
  animation-delay: .6s;
}

.money-calculator__enter,
.money-calculator__zero,
.money-calculator__number {
  font-family: var(--font-number);
  font-size: 2rem;
}

.money-calculator__display {
  grid-area: display;
}

.money-calculator__enter {
  grid-area: enter;
  font-size: 1.3rem;
}

.money-calculator__back {
  grid-area: back;
  font-size: 1.3rem;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
