.money-calculator {
  padding: var(--space-l) var(--space-m);
  display: grid;
  grid-template-rows: repeat(4, auto);
  place-items: center;
}

.money-calculator__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: stretch;
  place-items: center;
}

.money-calculator__button-wrapper {
  padding: calc(var(--space-m) / 2);
}

.money-calculator > * {
  animation-name: fade-up;
  animation-duration: .3s;
  animation-fill-mode: backwards;
}

.money-calculator > *:nth-child(1) {
  animation-delay: .2s;
}

.money-calculator > *:nth-child(2) {
  animation-delay: .3s;
}

.money-calculator > *:nth-child(3) {
  animation-delay: .4s;
}

.money-calculator > *:nth-child(4) {
  animation-delay: .5s;
}

.money-calculator > *:nth-child(5) {
  animation-delay: .6s;
}

.money-calculator__enter,
.money-calculator__zero,
.money-calculator__number {
  font-family: var(--font-number);
  font-size: 2rem;
}

.money-calculator__enter,
.money-calculator__back {
  font-size: 1.3rem;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
