.money-calculator {
  padding: var(--space-l) var(--space-m);
  display: grid;
  grid-row-gap: var(--space-xl);
  grid-template:
    'display display display' auto
    '.       .       .'       auto
    '.       .       .'       auto
    '.       .       .'       auto
    'point   .       enter'   auto
    /1fr     1fr     1fr;
  place-items: center;
}

.money-calculator__display {
  grid-area: display;
}

.money-calculator__enter {
  grid-area: enter;
}

.money-calculator__point {
  grid-area: point;
}

.money-calculator__enter,
.money-calculator__point,
.money-calculator__number {
  font-family: var(--font-number);
  font-size: 2rem;
}
