.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: hsla(0, 0%, 100%, 0.5);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.toolbar__item--inactive {
  filter: contrast(0) opacity(0.5);
}

.toolbar__action-button {
  align-self: end;
  margin-left: auto;
  transform: translateY(-16px);
}
