.transaction-menu-item {
  padding: 16px;

  transition-property: width, height, transform;
  transition-duration: .3s;
  will-change: width, height, transform;
}

.transaction-menu-item--is-expanded {
  z-index: 2;
}

.transaction-menu-item__title {
  width: 100%;
}
