.menu-item-base {
  position: relative;

  transition-property: height, transform, opacity, left, right, bottom;
  transition-duration: .3s;
  contain: layout;
}

.menu-item-base__wrapper {
  width: 100%;
  height: 100%;
  padding: var(--space-s);

  overflow: hidden;
}

.menu-item-base--is-expanded
> .menu-item-base__wrapper {
  overflow: visible scroll;
}

.menu-item-base__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  animation: anti-squeeze .3s forwards;
}

.menu-item-base__title--is-expanded {
  animation: squeeze .3s forwards;
}

@keyframes squeeze {
  from { width: 100%; }
  to { width: 7em; }
}

@keyframes anti-squeeze {
  from { width: 7em; }
  to { width: 100%; }
}

.menu-item-base__title-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--space-xxs);

  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
}

.menu-item-base__cancel {
  position: absolute;
  top: calc(-1* var(--space-s));
  right: 0;
  border-radius: 40px;
  background-color: var(--accent-color);
  padding:  var(--space-xs) var(--space-s);
  color: white;
  transform: translateY(-100%) translateX(200%);
  opacity: 0;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
}

.menu-item-base--is-expanded
> .menu-item-base__cancel {
  transform: translateY(-100%);
  opacity: 1;
  transition-duration: .3s, .6s;
  transition-delay: .1s, .25s;
}

.event-capture {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
