:root {
  --font-basis: -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  --font-text: 'Quicksand', var(--font-basis);
  --font-number: 'Comfortaa', var(--font-basis);

  --transparency-normal: 0.5;

  --color-neutral-white-hsl: 0, 0%, 100%;
  --color-neutral-white: #fff;
  --color-neutral-light: #fdfcfc;
  --color-neutral-light-gray: #ddd;
  --color-neutral-gray-hsl: 0, 0%, 50%;
  --color-neutral-gray: #666;
  --color-neutral-dark: #444;
  --color-neutral-black: #000;

  /* #c889aa */
  --color-primary-deep-hsl: 328, 36%, 66%;
  --color-primary-deep: hsl(328, 36%, 66%);
  /* #ff7a9e */
  --color-primary-pure-hsl: 344, 100%, 74%;
  --color-primary-pure: hsl(344, 100%, 74%);
  /* #f7b7ab */
  --color-primary-clear-hsl: 9, 82%, 82%;
  --color-primary-clear: hsl(9, 82%, 82%);
  /* #472970 */
  --color-secondary-deep-hsl: 265, 47%, 30%;
  --color-secondary-deep: hsl(265, 47%, 30%);
  /* #4f1a51 */
  --color-secondary-pure-hsl: 297, 52%, 21%;
  --color-secondary-pure: hsl(297, 52%, 21%);
  /* #60166a */
  --color-secondary-clear-hsl: 293, 66%, 25%;
  --color-secondary-clear: hsl(293, 66%, 25%);

  --color-font-light: var(--color-neutral-light);
  --color-font-dark: var(--color-neutral-dark);

  /*deprecated colors*/
  --accent-color-hsl: 265, 46.8%, 30.2%;
  --accent-color: #472971;
  --primary-color-hsl: 328, 35.6%, 65.9%;
  --primary-color: #c789aa;
  --secondary-color-hsl: 344, 100%, 73.7%;
  --secondary-color: #ff799d;

  --size-xxxs: 2px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 48px;
  --size-xxl: 64px;

  --space-xxs: var(--size-xxs);
  --space-xs: var(--size-xs);
  --space-s: var(--size-s);
  --space-m: var(--size-m);
  --space-l: var(--size-l);
  --space-xl: var(--size-xl);
  --space-xxl: var(--size-xxl);

  --border-radius-s: var(--size-xs);
  --border-radius-m: var(--size-s);
  --border-radius-l: var(--size-l);

  --card-border-radius: var(--border-radius-m);

  --button-border-radius: var(--border-radius-m);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
 */

* { box-sizing: border-box; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  background: transparent;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-align: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[hidden] {
  display: none !important;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.m-xxs { margin: var(--space-xxs) }
.m-xs { margin: var(--space-xs) }
.m-s { margin: var(--space-s) }
.m-m { margin: var(--space-m) }
.m-l { margin: var(--space-l) }
.m-xl { margin: var(--space-xl) }
.m-xxl { margin: var(--space-xxl) }

.mx-xxs { margin-left: var(--space-xxs); margin-right: var(--space-xxs); }
.mx-xs { margin-left: var(--space-xs); margin-right: var(--space-xs); }
.mx-s { margin-left: var(--space-s); margin-right: var(--space-s) }
.mx-m { margin-left: var(--space-m); margin-right: var(--space-m) }
.mx-l { margin-left: var(--space-l); margin-right: var(--space-l) }
.mx-xl { margin-left: var(--space-xl); margin-right: var(--space-xl); }
.mx-xxl { margin-left: var(--space-xxl); margin-right: var(--space-xxl); }

.my-xxs { margin-top: var(--space-xxs); margin-bottom: var(--space-xxs) }
.my-xs { margin-top: var(--space-xs); margin-bottom: var(--space-xs) }
.my-s { margin-top: var(--space-s); margin-bottom: var(--space-s) }
.my-m { margin-top: var(--space-m); margin-bottom: var(--space-m) }
.my-l { margin-top: var(--space-l); margin-bottom: var(--space-l) }
.my-xl { margin-top: var(--space-xl); margin-bottom: var(--space-xl) }
.my-xxl { margin-top: var(--space-xxl); margin-bottom: var(--space-xxl) }

.mt-xxs { margin-top: var(--space-xxs) }
.mt-xs { margin-top: var(--space-xs) }
.mt-s { margin-top: var(--space-s) }
.mt-m { margin-top: var(--space-m) }
.mt-l { margin-top: var(--space-l) }
.mt-xl { margin-top: var(--space-xl) }
.mt-xxl { margin-top: var(--space-xxl) }

.mr-xxs { margin-right: var(--space-xxs) }
.mr-xs { margin-right: var(--space-xs) }
.mr-s { margin-right: var(--space-s) }
.mr-m { margin-right: var(--space-m) }
.mr-l { margin-right: var(--space-l) }
.mr-xl { margin-right: var(--space-xl) }
.mr-xxl { margin-right: var(--space-xxl) }

.mb-xxs { margin-bottom: var(--space-xxs) }
.mb-xs { margin-bottom: var(--space-xs) }
.mb-s { margin-bottom: var(--space-s) }
.mb-m { margin-bottom: var(--space-m) }
.mb-l { margin-bottom: var(--space-l) }
.mb-xl { margin-bottom: var(--space-xl) }
.mb-xxl { margin-bottom: var(--space-xxl) }

.ml-xxs { margin-left: var(--space-xxs) }
.ml-xs { margin-left: var(--space-xs) }
.ml-s { margin-left: var(--space-s) }
.ml-m { margin-left: var(--space-m) }
.ml-l { margin-left: var(--space-l) }
.ml-xl { margin-left: var(--space-xl) }
.ml-xxl { margin-left: var(--space-xxl) }

.p-xxs { padding: var(--space-xxs) }
.p-xs { padding: var(--space-xs) }
.p-s { padding: var(--space-s) }
.p-m { padding: var(--space-m) }
.p-l { padding: var(--space-l) }
.p-xl { padding: var(--space-xl) }
.p-xxl { padding: var(--space-xxl) }

.px-xxs { padding-left: var(--space-xxs); padding-right: var(--space-xxs); }
.px-xs { padding-left: var(--space-xs); padding-right: var(--space-xs); }
.px-s { padding-left: var(--space-s); padding-right: var(--space-s) }
.px-m { padding-left: var(--space-m); padding-right: var(--space-m) }
.px-l { padding-left: var(--space-l); padding-right: var(--space-l) }
.px-xl { padding-left: var(--space-xl); padding-right: var(--space-xl); }
.px-xxl { padding-left: var(--space-xxl); padding-right: var(--space-xxl); }

.py-xxs { padding-top: var(--space-xxs); padding-bottom: var(--space-xxs) }
.py-xs { padding-top: var(--space-xs); padding-bottom: var(--space-xs) }
.py-s { padding-top: var(--space-s); padding-bottom: var(--space-s) }
.py-m { padding-top: var(--space-m); padding-bottom: var(--space-m) }
.py-l { padding-top: var(--space-l); padding-bottom: var(--space-l) }
.py-xl { padding-top: var(--space-xl); padding-bottom: var(--space-xl) }
.py-xxl { padding-top: var(--space-xxl); padding-bottom: var(--space-xxl) }

.pt-xxs { padding-top: var(--space-xxs) }
.pt-xs { padding-top: var(--space-xs) }
.pt-s { padding-top: var(--space-s) }
.pt-m { padding-top: var(--space-m) }
.pt-l { padding-top: var(--space-l) }
.pt-xl { padding-top: var(--space-xl) }
.pt-xxl { padding-top: var(--space-xxl) }

.pr-xxs { padding-right: var(--space-xxs) }
.pr-xs { padding-right: var(--space-xs) }
.pr-s { padding-right: var(--space-s) }
.pr-m { padding-right: var(--space-m) }
.pr-l { padding-right: var(--space-l) }
.pr-xl { padding-right: var(--space-xl) }
.pr-xxl { padding-right: var(--space-xxl) }

.pb-xxs { padding-bottom: var(--space-xxs) }
.pb-xs { padding-bottom: var(--space-xs) }
.pb-s { padding-bottom: var(--space-s) }
.pb-m { padding-bottom: var(--space-m) }
.pb-l { padding-bottom: var(--space-l) }
.pb-xl { padding-bottom: var(--space-xl) }
.pb-xxl { padding-bottom: var(--space-xxl) }

.pl-xxs { padding-left: var(--space-xxs) }
.pl-xs { padding-left: var(--space-xs) }
.pl-s { padding-left: var(--space-s) }
.pl-m { padding-left: var(--space-m) }
.pl-l { padding-left: var(--space-l) }
.pl-xl { padding-left: var(--space-xl) }
.pl-xxl { padding-left: var(--space-xxl) }

html.no-focus-outline :focus {
  outline: none;
}
