.circular-progress {
  background-color: var(--accent-color);
  padding: var(--space-s);
  width: 80px;
  height: 80px;
}

.circular-progress__svg {
  transform: rotate(-90deg);
}

.circular-progress__bar {
  stroke: hsla(0, 0%, 100%, 0.4);
}
