.account-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--space-l);
  color: var(--color-neutral-white);
}

.account-page__menu {
  display: flex;
  flex-direction: column;
}

.account-page__footer {
  text-align: center;
}

.account-page__menu {
  display: grid;
  grid-row-gap: var(--space-s);
}

.account-page__user {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: calc(var(--space-s) * -1);
  margin-bottom: var(--space-s);
}

.account-page__user-photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: var(--space-xs);
}
