.background {
  background-image: linear-gradient(160deg, var(--secondary-color), var(--primary-color));
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.background__item {
  background-color: rgba(255, 255, 255, 0.07);
  height: 100px;
  position: absolute;
  width: 100px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.01);
}
