.categories-carousel {
  position: relative;
  margin-top: var(--space-l);
}

.categories-carousel__card-container {
  transition: clip-path .3s ease-in;
  backface-visibility: hidden;
  will-change: clip-path;
}
